body{
    background-color: whitesmoke;
    padding: 5em ;
    font-family: Tahoma, "sans-serif";
    text-align: center;
}

@media only screen and (max-width: 700px) {
    /* On réduit simplement le padding sur petit écran pour éviter les débordements, le reste ne sort pas du cadre */
    body {
        padding: 5em 1em;
    }
}
main{
    background-color: white;
    max-width: 95%;
    width: 35em ;
    margin: 0 auto;
    padding: 2em ;
    box-sizing: border-box;
}

footer a{
    padding: 1em ;
    color: #454545;
    text-decoration: none;
    display: block;
}

/* Réécriture de certains comportement du navigateur */
input, button{
    font-family: Tahoma, "sans-serif";
    box-sizing: border-box;
    cursor: pointer;
}
button:hover, a:hover{
    opacity: 0.8;
}

ul {margin: 0; padding: 0;}
li {list-style: none;}
p{margin: 0;}


/*Style des formulaires*/
.basicForm{
    margin: 0;
    text-align: left;
}
.basicForm input{
    width: 100%;
    display: block;
    margin-top: 0.5em ;
    padding: 0.5em 1em ;
    border: 1px solid Gainsboro;
}
.basicForm .formValid{
    display: block;
    width: 10em ;
    margin: 1em 0 0 auto;
    border: none;
    background-color: #318450;
    color: white;
    padding: 0.5em 1em ;
    border-radius: 0.3em ;
}

/* Affichage des erreurs */
.errorsParent{
    margin-bottom: 2em ;
}

.errorsParent li{
    background-color: #9e2c2c;
    color: white;
    padding: 0.5em 1em ;
    border-radius: 0.3em ;
}

#gameJsonData{
    display: none;
}