html{
    -webkit-user-select: none; /* Evite la selection du texte au clic sur les cartes */
    -ms-user-select: none;
    user-select: none;
}
.main{
    position: relative;
}
.mainGame .disclamer{
    padding-bottom: 1em;
    border-bottom: 1px solid Gainsboro;
    margin-bottom: 2em ;
    text-align: left;
}

.mainGame .part{
    position: relative;
    padding: 1em ;
}

.mainGame .part ul{
    position: absolute;
    left: 0;
}
.mainGame .botPart ul{
    top: 0;
}

.mainGame .playerPart ul{
    bottom: 0;
}

.mainGame ul .points{
    font-size: 0.9em ;
    padding: 0.3em 1em ;
    border-radius: 0.5em ;
    display: inline-block;
}
.mainGame ul .winner{
    background-color: #eed6a5;
    color: #a87040;
    padding-left: 2em;
    text-align: left;
    position: relative;
    font-weight: 600;
}
.mainGame ul .winner :before{
    background-image: url(../images/trophy.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em ;
    background-size: contain ;
    content: '';
    position: absolute;
    left: 0.6em ;
    top: 50%;
    transform: translateY(-50%);
}
.playerName, .botName{
    font-weight: 600 ;
    font-size: 1.2em ;
}

.mainGame .remainCardsNumber{
    width: 30%;
    text-align: right;
    margin: 0.5em 0 0.5em auto;
    font-size: 0.9em ;
    border: 1px solid Gainsboro;
    padding: 0.5em ;
}
.mainGame .remainCardsNumber span{
    font-weight: bold;
}
.currentCard{
    height: 10em;
    width: 7em ;
    background-image: url("../images/card-back.png");
    background-size: cover;
    background-position: center center;
    border-radius: 0.5em ;
    display: block;
    margin: 0 auto ;
    cursor: pointer;
    transition: 0.5s all ease;
    border: 1px solid Gainsboro;
}

.flipped .currentCard{
    transform: scaleX(-1);
    overflow: hidden;
}
.flipped .currentCard span{
    visibility: visible;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    font-weight: bold;
    color: dimgray;
    transform: scaleX(-1);
    font-size: 3em ;
    opacity: 1;
    padding-top: 1em ;
    /* Mon animation de "la carte qui tourne" est tout à fait low cost \o/~ */
}
.currentCard span{
    visibility: hidden;
    opacity: 0;
}

#finishedGame{
    /* Le message de fin de partie*/
    display: none;
}

/*Message de fin de partie*/

#finishedGame{
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#finishedGame form{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 90%;
    max-height: 90%;
    padding: 1em ;
    background-color: white;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 1px solid Gainsboro;
    font-size: 1.2em ;
}


#finishedGame form nav{
    margin-top: 1em ;
}

#finishedGame form button.goTo{
    display: inline-block;
    margin: 0.5em;
    border: none;
    color: white;
    padding: 0.5em 1em ;
    border-radius: 0.3em ;
}

button.results{background-color: #324560;}
button.newGame{background-color: #388160;}