main {
    width: 45em;
    /* mon tableau est long, du coup je réécris la taille du main */
}

.looseNumber{color: #9e2c2c;}
.winNumber{color: #318450;}
/* rouge c'est perdu, vert c'est gagné, oui */

.overflowParent{
    overflow: scroll;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2em ;
    padding: 0.5em 0;
    white-space: nowrap;
}
#loadResult{
    font-size: 0.8em ;
    width: 100%;
    text-align: center;
}

#loadResult td{
    padding: 0.3em ;
}
#loadResult td.winCell{
    background-color: #318450;
    color: white;
    border-radius: 0.5em ;
}

form.basicForm{
    text-align: center;
    margin-top: 2em ;
}
form button.goTo{
    display: inline-block;
    margin: 0.5em;
    border: none;
    color: white;
    padding: 0.5em 1em ;
    border-radius: 0.3em ;
}


button.newGame{background-color: #388160;}